@import 'variables';

.card {
  transition: box-shadow .50s;
  width: 30%;
  margin: 1%;
  box-shadow: $box-shadow;
  background-color: $neutral-color;
  padding: 15px;
}

.card-bad {
  @extend .card;
  background-color: $bad-color;
}

.card-good{
  @extend .card;
  background-color: $good-color;
}